# Julia files
depot_paths/
Manifest.toml
scratchspaces/
registries/
logs/
clones/
artifacts/
compiled/
packages/

# Python files
python-venv/
__pycache__/
pyvenv.cfg

# Test file
test.fasta

# Scratch directories
*/scratch_dir/

# Simulation intermediary data
data/*/
data.zip
*estgts-incomplete.tre*
*.bionj
*.ckp.gz
*.iqtree
*.log
*.mldist

# Condor and other
conda/
.vscode/
condor/err/
condor/log/
condor/out/
error/
condor/tester
.bash_history
condor/submit.table