*.jar
*.RData
Manifest.toml

error/

empirical-study/subset_data/
empirical-study/all_okp_data/
empirical-study/all_okp_data/
empirical-study/condor_logs/

true-gts/condor/logs/
true-gts/condor/submit/*.tab
true-gts/data/

est-gts/condor/logs/
est-gts/condor/submits/*.tab
est-gts/data/

# Julia folders
artifacts/
clones/
compiled/
packages/
registries/
.Rproj.user
