# Julia files
Manifest.toml
scratchspaces/
registries/
logs/
clones/
artifacts/
compiled/
packages/

# Python files
python-venv/
__pycache__/
pyvenv.cfg

# Test file
test.fasta

# Scratch directories
*/scratch_dir/

# Simulation intermediary data
data/
data.zip
*estgts-incomplete.tre*
*.bionj
*.ckp.gz
*.iqtree
*.log
*.mldist
